// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-bottom-name: 'icon-arrow-bottom';
$icon-arrow-bottom-x: 221px;
$icon-arrow-bottom-y: 159px;
$icon-arrow-bottom-offset-x: -221px;
$icon-arrow-bottom-offset-y: -159px;
$icon-arrow-bottom-width: 17px;
$icon-arrow-bottom-height: 11px;
$icon-arrow-bottom-total-width: 258px;
$icon-arrow-bottom-total-height: 190px;
$icon-arrow-bottom-image: 'sprite.png';
$icon-arrow-bottom: (221px, 159px, -221px, -159px, 17px, 11px, 258px, 190px, 'sprite.png', 'icon-arrow-bottom', );
$icon-close-name: 'icon-close';
$icon-close-x: 221px;
$icon-close-y: 108px;
$icon-close-offset-x: -221px;
$icon-close-offset-y: -108px;
$icon-close-width: 23px;
$icon-close-height: 23px;
$icon-close-total-width: 258px;
$icon-close-total-height: 190px;
$icon-close-image: 'sprite.png';
$icon-close: (221px, 108px, -221px, -108px, 23px, 23px, 258px, 190px, 'sprite.png', 'icon-close', );
$icon-compare-name: 'icon-compare';
$icon-compare-x: 162px;
$icon-compare-y: 88px;
$icon-compare-offset-x: -162px;
$icon-compare-offset-y: -88px;
$icon-compare-width: 41px;
$icon-compare-height: 52px;
$icon-compare-total-width: 258px;
$icon-compare-total-height: 190px;
$icon-compare-image: 'sprite.png';
$icon-compare: (162px, 88px, -162px, -88px, 41px, 52px, 258px, 190px, 'sprite.png', 'icon-compare', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 221px;
$icon-fb-y: 78px;
$icon-fb-offset-x: -221px;
$icon-fb-offset-y: -78px;
$icon-fb-width: 30px;
$icon-fb-height: 30px;
$icon-fb-total-width: 258px;
$icon-fb-total-height: 190px;
$icon-fb-image: 'sprite.png';
$icon-fb: (221px, 78px, -221px, -78px, 30px, 30px, 258px, 190px, 'sprite.png', 'icon-fb', );
$icon-flawless-name: 'icon-flawless';
$icon-flawless-x: 0px;
$icon-flawless-y: 81px;
$icon-flawless-offset-x: 0px;
$icon-flawless-offset-y: -81px;
$icon-flawless-width: 81px;
$icon-flawless-height: 81px;
$icon-flawless-total-width: 258px;
$icon-flawless-total-height: 190px;
$icon-flawless-image: 'sprite.png';
$icon-flawless: (0px, 81px, 0px, -81px, 81px, 81px, 258px, 190px, 'sprite.png', 'icon-flawless', );
$icon-guidelines-name: 'icon-guidelines';
$icon-guidelines-x: 162px;
$icon-guidelines-y: 40px;
$icon-guidelines-offset-x: -162px;
$icon-guidelines-offset-y: -40px;
$icon-guidelines-width: 48px;
$icon-guidelines-height: 48px;
$icon-guidelines-total-width: 258px;
$icon-guidelines-total-height: 190px;
$icon-guidelines-image: 'sprite.png';
$icon-guidelines: (162px, 40px, -162px, -40px, 48px, 48px, 258px, 190px, 'sprite.png', 'icon-guidelines', );
$icon-next-name: 'icon-next';
$icon-next-x: 221px;
$icon-next-y: 131px;
$icon-next-offset-x: -221px;
$icon-next-offset-y: -131px;
$icon-next-width: 16px;
$icon-next-height: 28px;
$icon-next-total-width: 258px;
$icon-next-total-height: 190px;
$icon-next-image: 'sprite.png';
$icon-next: (221px, 131px, -221px, -131px, 16px, 28px, 258px, 190px, 'sprite.png', 'icon-next', );
$icon-overlay-name: 'icon-overlay';
$icon-overlay-x: 162px;
$icon-overlay-y: 0px;
$icon-overlay-offset-x: -162px;
$icon-overlay-offset-y: 0px;
$icon-overlay-width: 59px;
$icon-overlay-height: 40px;
$icon-overlay-total-width: 258px;
$icon-overlay-total-height: 190px;
$icon-overlay-image: 'sprite.png';
$icon-overlay: (162px, 0px, -162px, 0px, 59px, 40px, 258px, 190px, 'sprite.png', 'icon-overlay', );
$icon-play-name: 'icon-play';
$icon-play-x: 81px;
$icon-play-y: 81px;
$icon-play-offset-x: -81px;
$icon-play-offset-y: -81px;
$icon-play-width: 52px;
$icon-play-height: 55px;
$icon-play-total-width: 258px;
$icon-play-total-height: 190px;
$icon-play-image: 'sprite.png';
$icon-play: (81px, 81px, -81px, -81px, 52px, 55px, 258px, 190px, 'sprite.png', 'icon-play', );
$icon-prev-name: 'icon-prev';
$icon-prev-x: 237px;
$icon-prev-y: 131px;
$icon-prev-offset-x: -237px;
$icon-prev-offset-y: -131px;
$icon-prev-width: 16px;
$icon-prev-height: 28px;
$icon-prev-total-width: 258px;
$icon-prev-total-height: 190px;
$icon-prev-image: 'sprite.png';
$icon-prev: (237px, 131px, -237px, -131px, 16px, 28px, 258px, 190px, 'sprite.png', 'icon-prev', );
$icon-sketch-name: 'icon-sketch';
$icon-sketch-x: 81px;
$icon-sketch-y: 0px;
$icon-sketch-offset-x: -81px;
$icon-sketch-offset-y: 0px;
$icon-sketch-width: 81px;
$icon-sketch-height: 81px;
$icon-sketch-total-width: 258px;
$icon-sketch-total-height: 190px;
$icon-sketch-image: 'sprite.png';
$icon-sketch: (81px, 0px, -81px, 0px, 81px, 81px, 258px, 190px, 'sprite.png', 'icon-sketch', );
$icon-snippets-name: 'icon-snippets';
$icon-snippets-x: 0px;
$icon-snippets-y: 162px;
$icon-snippets-offset-x: 0px;
$icon-snippets-offset-y: -162px;
$icon-snippets-width: 67px;
$icon-snippets-height: 28px;
$icon-snippets-total-width: 258px;
$icon-snippets-total-height: 190px;
$icon-snippets-image: 'sprite.png';
$icon-snippets: (0px, 162px, 0px, -162px, 67px, 28px, 258px, 190px, 'sprite.png', 'icon-snippets', );
$icon-totally-name: 'icon-totally';
$icon-totally-x: 221px;
$icon-totally-y: 0px;
$icon-totally-offset-x: -221px;
$icon-totally-offset-y: 0px;
$icon-totally-width: 37px;
$icon-totally-height: 47px;
$icon-totally-total-width: 258px;
$icon-totally-total-height: 190px;
$icon-totally-image: 'sprite.png';
$icon-totally: (221px, 0px, -221px, 0px, 37px, 47px, 258px, 190px, 'sprite.png', 'icon-totally', );
$icon-tw-name: 'icon-tw';
$icon-tw-x: 221px;
$icon-tw-y: 47px;
$icon-tw-offset-x: -221px;
$icon-tw-offset-y: -47px;
$icon-tw-width: 31px;
$icon-tw-height: 31px;
$icon-tw-total-width: 258px;
$icon-tw-total-height: 190px;
$icon-tw-image: 'sprite.png';
$icon-tw: (221px, 47px, -221px, -47px, 31px, 31px, 258px, 190px, 'sprite.png', 'icon-tw', );
$icon-xcode-name: 'icon-xcode';
$icon-xcode-x: 0px;
$icon-xcode-y: 0px;
$icon-xcode-offset-x: 0px;
$icon-xcode-offset-y: 0px;
$icon-xcode-width: 81px;
$icon-xcode-height: 81px;
$icon-xcode-total-width: 258px;
$icon-xcode-total-height: 190px;
$icon-xcode-image: 'sprite.png';
$icon-xcode: (0px, 0px, 0px, 0px, 81px, 81px, 258px, 190px, 'sprite.png', 'icon-xcode', );
$icon-arrow-bottom-2x-name: 'icon-arrow-bottom@2x';
$icon-arrow-bottom-2x-x: 442px;
$icon-arrow-bottom-2x-y: 318px;
$icon-arrow-bottom-2x-offset-x: -442px;
$icon-arrow-bottom-2x-offset-y: -318px;
$icon-arrow-bottom-2x-width: 34px;
$icon-arrow-bottom-2x-height: 22px;
$icon-arrow-bottom-2x-total-width: 516px;
$icon-arrow-bottom-2x-total-height: 380px;
$icon-arrow-bottom-2x-image: 'sprite@2x.png';
$icon-arrow-bottom-2x: (442px, 318px, -442px, -318px, 34px, 22px, 516px, 380px, 'sprite@2x.png', 'icon-arrow-bottom@2x', );
$icon-close-2x-name: 'icon-close@2x';
$icon-close-2x-x: 442px;
$icon-close-2x-y: 216px;
$icon-close-2x-offset-x: -442px;
$icon-close-2x-offset-y: -216px;
$icon-close-2x-width: 46px;
$icon-close-2x-height: 46px;
$icon-close-2x-total-width: 516px;
$icon-close-2x-total-height: 380px;
$icon-close-2x-image: 'sprite@2x.png';
$icon-close-2x: (442px, 216px, -442px, -216px, 46px, 46px, 516px, 380px, 'sprite@2x.png', 'icon-close@2x', );
$icon-compare-2x-name: 'icon-compare@2x';
$icon-compare-2x-x: 324px;
$icon-compare-2x-y: 176px;
$icon-compare-2x-offset-x: -324px;
$icon-compare-2x-offset-y: -176px;
$icon-compare-2x-width: 82px;
$icon-compare-2x-height: 104px;
$icon-compare-2x-total-width: 516px;
$icon-compare-2x-total-height: 380px;
$icon-compare-2x-image: 'sprite@2x.png';
$icon-compare-2x: (324px, 176px, -324px, -176px, 82px, 104px, 516px, 380px, 'sprite@2x.png', 'icon-compare@2x', );
$icon-fb-2x-name: 'icon-fb@2x';
$icon-fb-2x-x: 442px;
$icon-fb-2x-y: 156px;
$icon-fb-2x-offset-x: -442px;
$icon-fb-2x-offset-y: -156px;
$icon-fb-2x-width: 60px;
$icon-fb-2x-height: 60px;
$icon-fb-2x-total-width: 516px;
$icon-fb-2x-total-height: 380px;
$icon-fb-2x-image: 'sprite@2x.png';
$icon-fb-2x: (442px, 156px, -442px, -156px, 60px, 60px, 516px, 380px, 'sprite@2x.png', 'icon-fb@2x', );
$icon-flawless-2x-name: 'icon-flawless@2x';
$icon-flawless-2x-x: 0px;
$icon-flawless-2x-y: 162px;
$icon-flawless-2x-offset-x: 0px;
$icon-flawless-2x-offset-y: -162px;
$icon-flawless-2x-width: 162px;
$icon-flawless-2x-height: 162px;
$icon-flawless-2x-total-width: 516px;
$icon-flawless-2x-total-height: 380px;
$icon-flawless-2x-image: 'sprite@2x.png';
$icon-flawless-2x: (0px, 162px, 0px, -162px, 162px, 162px, 516px, 380px, 'sprite@2x.png', 'icon-flawless@2x', );
$icon-guidelines-2x-name: 'icon-guidelines@2x';
$icon-guidelines-2x-x: 324px;
$icon-guidelines-2x-y: 80px;
$icon-guidelines-2x-offset-x: -324px;
$icon-guidelines-2x-offset-y: -80px;
$icon-guidelines-2x-width: 96px;
$icon-guidelines-2x-height: 96px;
$icon-guidelines-2x-total-width: 516px;
$icon-guidelines-2x-total-height: 380px;
$icon-guidelines-2x-image: 'sprite@2x.png';
$icon-guidelines-2x: (324px, 80px, -324px, -80px, 96px, 96px, 516px, 380px, 'sprite@2x.png', 'icon-guidelines@2x', );
$icon-next-2x-name: 'icon-next@2x';
$icon-next-2x-x: 442px;
$icon-next-2x-y: 262px;
$icon-next-2x-offset-x: -442px;
$icon-next-2x-offset-y: -262px;
$icon-next-2x-width: 32px;
$icon-next-2x-height: 56px;
$icon-next-2x-total-width: 516px;
$icon-next-2x-total-height: 380px;
$icon-next-2x-image: 'sprite@2x.png';
$icon-next-2x: (442px, 262px, -442px, -262px, 32px, 56px, 516px, 380px, 'sprite@2x.png', 'icon-next@2x', );
$icon-overlay-2x-name: 'icon-overlay@2x';
$icon-overlay-2x-x: 324px;
$icon-overlay-2x-y: 0px;
$icon-overlay-2x-offset-x: -324px;
$icon-overlay-2x-offset-y: 0px;
$icon-overlay-2x-width: 118px;
$icon-overlay-2x-height: 80px;
$icon-overlay-2x-total-width: 516px;
$icon-overlay-2x-total-height: 380px;
$icon-overlay-2x-image: 'sprite@2x.png';
$icon-overlay-2x: (324px, 0px, -324px, 0px, 118px, 80px, 516px, 380px, 'sprite@2x.png', 'icon-overlay@2x', );
$icon-play-2x-name: 'icon-play@2x';
$icon-play-2x-x: 162px;
$icon-play-2x-y: 162px;
$icon-play-2x-offset-x: -162px;
$icon-play-2x-offset-y: -162px;
$icon-play-2x-width: 104px;
$icon-play-2x-height: 110px;
$icon-play-2x-total-width: 516px;
$icon-play-2x-total-height: 380px;
$icon-play-2x-image: 'sprite@2x.png';
$icon-play-2x: (162px, 162px, -162px, -162px, 104px, 110px, 516px, 380px, 'sprite@2x.png', 'icon-play@2x', );
$icon-prev-2x-name: 'icon-prev@2x';
$icon-prev-2x-x: 474px;
$icon-prev-2x-y: 262px;
$icon-prev-2x-offset-x: -474px;
$icon-prev-2x-offset-y: -262px;
$icon-prev-2x-width: 32px;
$icon-prev-2x-height: 56px;
$icon-prev-2x-total-width: 516px;
$icon-prev-2x-total-height: 380px;
$icon-prev-2x-image: 'sprite@2x.png';
$icon-prev-2x: (474px, 262px, -474px, -262px, 32px, 56px, 516px, 380px, 'sprite@2x.png', 'icon-prev@2x', );
$icon-sketch-2x-name: 'icon-sketch@2x';
$icon-sketch-2x-x: 162px;
$icon-sketch-2x-y: 0px;
$icon-sketch-2x-offset-x: -162px;
$icon-sketch-2x-offset-y: 0px;
$icon-sketch-2x-width: 162px;
$icon-sketch-2x-height: 162px;
$icon-sketch-2x-total-width: 516px;
$icon-sketch-2x-total-height: 380px;
$icon-sketch-2x-image: 'sprite@2x.png';
$icon-sketch-2x: (162px, 0px, -162px, 0px, 162px, 162px, 516px, 380px, 'sprite@2x.png', 'icon-sketch@2x', );
$icon-snippets-2x-name: 'icon-snippets@2x';
$icon-snippets-2x-x: 0px;
$icon-snippets-2x-y: 324px;
$icon-snippets-2x-offset-x: 0px;
$icon-snippets-2x-offset-y: -324px;
$icon-snippets-2x-width: 134px;
$icon-snippets-2x-height: 56px;
$icon-snippets-2x-total-width: 516px;
$icon-snippets-2x-total-height: 380px;
$icon-snippets-2x-image: 'sprite@2x.png';
$icon-snippets-2x: (0px, 324px, 0px, -324px, 134px, 56px, 516px, 380px, 'sprite@2x.png', 'icon-snippets@2x', );
$icon-totally-2x-name: 'icon-totally@2x';
$icon-totally-2x-x: 442px;
$icon-totally-2x-y: 0px;
$icon-totally-2x-offset-x: -442px;
$icon-totally-2x-offset-y: 0px;
$icon-totally-2x-width: 74px;
$icon-totally-2x-height: 94px;
$icon-totally-2x-total-width: 516px;
$icon-totally-2x-total-height: 380px;
$icon-totally-2x-image: 'sprite@2x.png';
$icon-totally-2x: (442px, 0px, -442px, 0px, 74px, 94px, 516px, 380px, 'sprite@2x.png', 'icon-totally@2x', );
$icon-tw-2x-name: 'icon-tw@2x';
$icon-tw-2x-x: 442px;
$icon-tw-2x-y: 94px;
$icon-tw-2x-offset-x: -442px;
$icon-tw-2x-offset-y: -94px;
$icon-tw-2x-width: 62px;
$icon-tw-2x-height: 62px;
$icon-tw-2x-total-width: 516px;
$icon-tw-2x-total-height: 380px;
$icon-tw-2x-image: 'sprite@2x.png';
$icon-tw-2x: (442px, 94px, -442px, -94px, 62px, 62px, 516px, 380px, 'sprite@2x.png', 'icon-tw@2x', );
$icon-xcode-2x-name: 'icon-xcode@2x';
$icon-xcode-2x-x: 0px;
$icon-xcode-2x-y: 0px;
$icon-xcode-2x-offset-x: 0px;
$icon-xcode-2x-offset-y: 0px;
$icon-xcode-2x-width: 162px;
$icon-xcode-2x-height: 162px;
$icon-xcode-2x-total-width: 516px;
$icon-xcode-2x-total-height: 380px;
$icon-xcode-2x-image: 'sprite@2x.png';
$icon-xcode-2x: (0px, 0px, 0px, 0px, 162px, 162px, 516px, 380px, 'sprite@2x.png', 'icon-xcode@2x', );
$spritesheet-width: 258px;
$spritesheet-height: 190px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-arrow-bottom, $icon-close, $icon-compare, $icon-fb, $icon-flawless, $icon-guidelines, $icon-next, $icon-overlay, $icon-play, $icon-prev, $icon-sketch, $icon-snippets, $icon-totally, $icon-tw, $icon-xcode, );
$spritesheet: (258px, 190px, 'sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 516px;
$retina-spritesheet-height: 380px;
$retina-spritesheet-image: 'sprite@2x.png';
$retina-spritesheet-sprites: ($icon-arrow-bottom-2x, $icon-close-2x, $icon-compare-2x, $icon-fb-2x, $icon-flawless-2x, $icon-guidelines-2x, $icon-next-2x, $icon-overlay-2x, $icon-play-2x, $icon-prev-2x, $icon-sketch-2x, $icon-snippets-2x, $icon-totally-2x, $icon-tw-2x, $icon-xcode-2x, );
$retina-spritesheet: (516px, 380px, 'sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-arrow-bottom-group-name: 'icon-arrow-bottom';
$icon-arrow-bottom-group: ('icon-arrow-bottom', $icon-arrow-bottom, $icon-arrow-bottom-2x, );
$icon-close-group-name: 'icon-close';
$icon-close-group: ('icon-close', $icon-close, $icon-close-2x, );
$icon-compare-group-name: 'icon-compare';
$icon-compare-group: ('icon-compare', $icon-compare, $icon-compare-2x, );
$icon-fb-group-name: 'icon-fb';
$icon-fb-group: ('icon-fb', $icon-fb, $icon-fb-2x, );
$icon-flawless-group-name: 'icon-flawless';
$icon-flawless-group: ('icon-flawless', $icon-flawless, $icon-flawless-2x, );
$icon-guidelines-group-name: 'icon-guidelines';
$icon-guidelines-group: ('icon-guidelines', $icon-guidelines, $icon-guidelines-2x, );
$icon-next-group-name: 'icon-next';
$icon-next-group: ('icon-next', $icon-next, $icon-next-2x, );
$icon-overlay-group-name: 'icon-overlay';
$icon-overlay-group: ('icon-overlay', $icon-overlay, $icon-overlay-2x, );
$icon-play-group-name: 'icon-play';
$icon-play-group: ('icon-play', $icon-play, $icon-play-2x, );
$icon-prev-group-name: 'icon-prev';
$icon-prev-group: ('icon-prev', $icon-prev, $icon-prev-2x, );
$icon-sketch-group-name: 'icon-sketch';
$icon-sketch-group: ('icon-sketch', $icon-sketch, $icon-sketch-2x, );
$icon-snippets-group-name: 'icon-snippets';
$icon-snippets-group: ('icon-snippets', $icon-snippets, $icon-snippets-2x, );
$icon-totally-group-name: 'icon-totally';
$icon-totally-group: ('icon-totally', $icon-totally, $icon-totally-2x, );
$icon-tw-group-name: 'icon-tw';
$icon-tw-group: ('icon-tw', $icon-tw, $icon-tw-2x, );
$icon-xcode-group-name: 'icon-xcode';
$icon-xcode-group: ('icon-xcode', $icon-xcode, $icon-xcode-2x, );
$retina-groups: ($icon-arrow-bottom-group, $icon-close-group, $icon-compare-group, $icon-fb-group, $icon-flawless-group, $icon-guidelines-group, $icon-next-group, $icon-overlay-group, $icon-play-group, $icon-prev-group, $icon-sketch-group, $icon-snippets-group, $icon-totally-group, $icon-tw-group, $icon-xcode-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
