.header 
	position: fixed
	top: 0
	width: 100%
	height: 68px
	background-color:#fff
	box-shadow: 0 0 30px rgba(0,0,0,.7)
	float: right
	z-index: 3
	@media screen and (max-width:768px)
		height: 100px
.header_search_input
	color: #aeb2bb
	font-family: Roboto
	font-size: 1rem
	font-weight: 400
.header_profile_hello
	font-family: Roboto
	font-size: 1rem
	font-weight: 400
	color: #939497
.header_profile_go-out
	font-family: Roboto
	font-size: 1rem
	font-weight: 400
	color: #1d6bb2
.icon-search
	width: 1.37%
.header_logotype_img
	margin:
		top: 10px
		right: 0
		left: 31px
		bottom: 0
	width: 107px
	height: 40px
	float: left
.header_search-and-logotype
	float: left
.header_profile
	float: right
.header_search
	margin:
		top: 24px
		left: 32px
		right: 0
		bottom: 0
	float: right
.header_block-p
	margin-top: 6%
	float: right
.header_profile_photo
	margin:
		top: 4%
		left: 0
		right: 30px
		bottom: 0
	width: 40px
	height: 40px
	border-radius: 2px
	background-color: #e1e2e9
	float: left
.header_profile_notification
	margin:
		top: -7%
		left: 45px
		right: 27px
		bottom: 0
	float: right
	

	
