<menu class="menu">
<div class="menu_header">
 	<button class="burger">@@include('../images/icons/menu/icon-more.svg')</button>
</div>
	<ul>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<i class="icon">@@include('../images/icons/menu/icon-home.svg')</i>
				<p class="menu_list_item_name">головна</p>
			</li>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<i class="icon">@@include('../images/icons/menu/icon-shield.svg')</i>
				<p class="menu_list_item_name">поліси</p>
			



			<ul class="list_sub">
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_n">Всі поліси</p>
				</li>
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_n">Виплати</p>
				</li>
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_n">Сплатити</p>
				</li>
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_n">Розрахувати</p>
				</li>
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_n">Внести зміни</p>
				</li>
			</ul>



			</li>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<i class="icon">@@include('../images/icons/menu/icon-umbrella.svg')</i>
				<p class="menu_list_item_name">страхування</p>
			</li>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<i class="icon">@@include('../images/icons/menu/icon-smth.svg')</i>
				<p class="menu_list_item_name">пенсія</p>
			</li>
		<li class="menu_list">
				<a class="menu_list_item"  href=""></a>
				<i class="icon">@@include('../images/icons/menu/icon-chart.svg')</i>
				<p class="menu_list_item_name">iнвестиції</p>
			</li>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<i class="icon">@@include('../images/icons/menu/icon-atom.svg')</i>
				<p class="menu_list_item_name">навчання</p>
			</li>
	</ul>

	<div class="menu_footer">
	<p class="contact">0 800 500 123</p>
		<ul class="footer_list">
			<li class="foter_list_item"><button>
			<i class="icon">@@include('../images/icons/menu/help/skype.svg')</i></button>
			</li>
			<li class="foter_list_item"><button>
			<i class="icon">@@include('../images/icons/menu/help/icon-consultant.svg')</i>
			</button>
			</li>
			<li class="foter_list_item"><button>
			<i class="icon">@@include('../images/icons/menu/help/icon-email2.svg')</i></button><li>
		</ul>
	</div>
	</menu>