<menu class="menu">
<div class="menu_header">
 <a href="#">
 	<icon></icon>
 </a>
</div>
	<ul>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<icon></icon>
				<p class="menu_list_item_name">головна</p>
			</li>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<icon></icon>
				<p class="menu_list_item_name">поліси</p>
			



			<ul class="list_sub">
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_name">Всі поліси</p>
				</li>
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_name">Виплати</p>
				</li>
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_name">Сплатити</p>
				</li>
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_name">Розрахувати</p>
				</li>
				<li class="list_sub_menu">
					<a href=""></a>
					<p class="list_sub_menu_name">Внести зміни</p>
				</li>
			</ul>



			</li>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<icon></icon>
				<p class="menu_list_item_name">страхування</p>
			</li>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<icon></icon>
				<p class="menu_list_item_name">пенсія</p>
			</li>
		<li class="menu_list">
				<a class="menu_list_item"  href=""></a>
				<icon></icon>
				<p class="menu_list_item_name">шнвестиції</p>
			</li>
		<li class="menu_list">
				<a class="menu_list_item" href=""></a>
				<icon></icon>
				<p class="menu_list_item_name">навчання</p>
			</li>
	</ul>
	</menu>