<section class="policy-header clearfix">
  <div class="policy-title">
    <p class="policy-title__title">Введіть назву / програму / або номер поліса для пошуку</p>
    <a href="#" class="policy-title__small-title">Мого поліса немає у списку</a>
  </div>
  <div class="basket"><button class="basket__button">
    <p class="basket__first-text">1 500.00 UAH</p>
    <p class="basket__second-text">черговий внесок</p>
    <p class="basket__img">@@include('../images/icons/general/icon-market.svg')</p>
    <a href="#"></a>
    </button></div>
</section>