
<div class="Wanessa">
<table class="table-header table-header-color">
   <caption class="table__sub_title">Страховi випадки</caption>
    <tr class="table-color">
    <td>РИЗИК</td>
    <td>РИЗИК ДЛЯ</td>
    <td>СТРАХОВА СУМА У ВАЛЮТI СТРАХУВАННЯ</td>
     </tr>
<tr>
  <td>Дожиття</td>
  <td>Застрахована особа</td>
  <td>3 595,03</td>
  </tr>
<tr>
  <td>Смерть</td>
  <td>Страхувальник</td>
  <td>3 595,03</td>
  </tr>
<tr>
  <td>Смерть</td>
  <td>Застрахована особа</td>
  <td>Сума сплачених внескiв на момент настання страхового випадку</td>
  </tr>
</table></div>

