
<div class="Wanessa">
<table class="table-header">
   <caption class="table__sub_title">Страхувальник </caption>
    <tr class="table-color">
    <td>ПIБ</td>
    <td>ДАТА НАРОДЖЕННЯ</td>
    <td>АДРЕСА РЕЕСТРАЦІЇ</td>
    <td>АДРЕСА ЛИСТУВАННЯ</td>
  </tr>
  <tr>
    <td>Iваненко Оксана Iгорiвна</td>
    <td>27.03.1980</td>
    <td>Оболонський проспект, буд.4-А,
кв.43, м.Київ, 04205, Україна</td>
    <td>Оболонський проспект, буд.4-А,
кв.43, м.Київ, 04205, Україна</td>
</tr>
</table></div>

<div class="Wanessa">
<table class="table-header">
 <caption class="table__sub_title">Застрахований </caption>
  <tr class="table-color">
    <td>ПIБ</td>
    <td>ДАТА НАРОДЖЕННЯ</td>
    <td>АДРЕСА РЕЕСТРАЦІЇ</td>
    <td>АДРЕСА ЛИСТУВАННЯ</td>
  </tr>
  <tr>
    <td>Петренко Олена Олегівна</td>
    <td>10.12.2004</td>
    <td>вул.Малиновського, буд.78-А,
кв.67, м.Київ, 04212, Україна</td>
    <td>вул.Малиновського, буд.78-А,
кв.67, м.Київ, 04212, Україна</td>
  </tr></div>
</table></div>