
<div class="Wanessa">
<table class="table-header table-header-color">
   <caption class="table__sub_title">JU 0038193 (Виплата викупної) </caption>
    <tr class="table-color">
    <td>РІК</td>
    <td>ТИП</td>
    <td>ДАТА ПЛАНОВОГО ПЛАТЕЖУ</td>
    <td>ВАЛЮТА ПОЛIСУ</td>
    <td>ПЛАНОВИЙ ПЛАТIЖ</td>
    <td>ФАКТИЧНИЙ ПЛАТIЖ</td>
    <td>СПЛАЧЕНО У ГРН</td>
  </tr>
<tr>
  <td>1</td>
  <td>Внесок</td>
  <td>30.06.2008</td>
  <td>USD</td>
  <td>250.00</td>
  <td>27.06.2008</td>
  <td>1 212.22</td>
</tr>
<tr>
  <td>1</td>
  <td>Внесок</td>
  <td>31.12.2008</td>
  <td>USD</td>
  <td>250.00</td>
  <td>26.12.2008</td>
  <td>1 947.50</td>
</tr>


<tr>
  <td>2</td>
  <td>Внесок</td>
  <td>30.06.2009</td>
  <td>USD</td>
  <td>250.00</td>
  <td>31.07.2009</td>
  <td>1 924.52</td>
</tr>
<tr>
  <td>2</td>
  <td>Внесок</td>
  <td>31.12.2009</td>
  <td>USD</td>
  <td>250.00</td>
  <td>30.12.2009</td>
  <td>1 992.82</td>
</tr>

<tr>
  <td>3</td>
  <td>Внесок</td>
  <td>30.06.2010</td>
  <td>USD</td>
  <td>250.00</td>
  <td>24.06.2010</td>
  <td>1 977.70</td>
</tr>
<tr>
  <td>3</td>
  <td>Внесок</td>
  <td>31.12.2010</td>
  <td>USD</td>
  <td>250.00</td>
  <td>26.01.2011</td>
  <td>1 984.70</td>
</tr>

<tr>
  <td>4</td>
  <td>Внесок</td>
  <td>30.06.2011</td>
  <td>USD</td>
  <td>250.00</td>
  <td>26.01.2011</td>
  <td>1 992.82</td>
</tr>
</table></div>



  <!-- <tr>
    <td>Iваненко Оксана Iгорiвна</td>
    <td>27.03.1980</td>
    <td>Оболонський проспект, буд.4-А,
кв.43, м.Київ, 04205, Україна</td>
    <td>Оболонський проспект, буд.4-А,
кв.43, м.Київ, 04205, Україна</td>
</tr>
</table></div>

<div class="Wanessa">
<table class="table-header">
 <caption class="table__sub_title">Застрахований </caption>
  <tr class="table-color">
    <td>ПIБ</td>
    <td>ДАТА НАРОДЖЕННЯ</td>
    <td>АДРЕСА РЕЕСТРАЦІЇ</td>
    <td>АДРЕСА ЛИСТУВАННЯ</td>
  </tr>
  <tr>
    <td>Петренко Олена Олегівна</td>
    <td>10.12.2004</td>
    <td>вул.Малиновського, буд.78-А,
кв.67, м.Київ, 04212, Україна</td>
    <td>вул.Малиновського, буд.78-А,
кв.67, м.Київ, 04212, Україна</td>
  </tr></div>
</table></div> -->