<section class="autorization">
	<h3 class="autorization-title">Авторизація</h3>
	<div class="autorization-field">
		<p class="autorization-info">Номер телефону</p>
		<input type="tel" pattern="2[0-9]{3}-[0-9]{3}" placeholder="+380(67)123-45-67" name="telephone" class="autorization-login">
	</div>
	<button type="submit" class="autorization-tel">Продовжити</button>
	<button type="submit" class="autorization-submit">Авториизуватись</button>
	<p class="autorization-text-info">
		Користуватися сервісом мають можливість лише Страхувальники-фізичні особи
	</p>
</section>