


<div class="container-border">
  <h3>Історія нарахуваних бонусів, USD</h3>
  <div class="nav">
    <a href="#"><img src="img/green_arrow.png" alt=""></a>

        <a href="#"><img src="img/gray_arrow.png" alt=""></a>

  </div>

<div class="item">
    <div class="info" style="height:160px">
      <div class="pink-stuff">26.71</div>
      <div class="round-one">
          <div class="green-stuff">10.1%</div>

      </div>
    </div>
    <p>2009</p>
</div>

<div class="item">
    <div class="info" style="height:210px">
      <div class="pink-stuff">35.41</div>
      <div class="round-one">
          <div class="green-stuff">7%</div>
      </div>
    </div>
    <p>2010</p>
</div>
<div class="item">
    <div class="info" style="height:167px">
      <div class="pink-stuff">28.32</div>
      <div class="round-one">
          <div class="green-stuff">5.5%</div>
      </div>
    </div>
    <p>2011</p>
</div>
<div class="item">
    <div class="info" style="height:240px">
      <div class="pink-stuff">40.01</div>
      <div class="round-one">
          <div class="green-stuff">5.5%</div>
      </div>
    </div>
    <p>2012</p>
</div>
<div class="item">
    <div class="info" style="height:200px">
      <div class="pink-stuff">33.71</div>
      <div class="round-one">
          <div class="green-stuff">5%</div>
      </div>
    </div>
    <p>2013</p>
</div>


</div>
