<section class="controlls">
    <div class="controlls-details">
        <h4 class="controlls-title">Способи комунікаціїї з СК «ТАС»</h4>
        <label class="controll-lable">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" >
                <div class="onoffswitch-label" >
                </div>
            </div>
            <p class="controlling-text-option">Контактний телефон</p>
        </label>
        <label class="controll-lable">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" >
                <div class="onoffswitch-label" >
                </div>
            </div>
            <p class="controlling-text-option">Email</p>
        </label>
        <label class="controll-lable">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" >
                <div class="onoffswitch-label" >
                </div>
            </div>
            <p class="controlling-text-option">Вайбер (контактний телефон)</p>
        </label>
        <label class="controll-lable">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" >
                <div class="onoffswitch-label" >
                </div>
            </div>
            <p class="controlling-text-option">Адреса листування</p>
        </label>
         <label class="controll-lable">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" >
                <div class="onoffswitch-label" >
                </div>
            </div>
            <p class="controlling-text-option">Кабінет клієнта</p>
        </label>
    </div>
    <div class="controlls-details">
        <h4 class="controlls-title">Зв’язок із соціальними мережами</h4>
        <label class="controll-lable">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" >
                <div class="onoffswitch-label" >
                </div>
            </div>
            <p class="controlling-text-option">Facebook</p>
        </label>
        <label class="controll-lable">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" >
                <div class="onoffswitch-label" >
                </div>
            </div>
            <p class="controlling-text-option">LinkedIn</p>
        </label>
        <h4 class="controlls-title">Рекомендації та реклама</h4>
        <label class="controll-lable">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" >
                <div class="onoffswitch-label" >
                </div>
            </div>
            <p class="controlling-text-option">Персональні та акційні пропозиції</p>
        </label>
    </div>
    <div class="controlls-details">
        <h4 class="controlls-title">Мова</h4>
        <nav class="language">
        	<a href="#" class="language-set">UA</a>
        	<a href="#" class="language-set">RU</a>
        	<a href="#" class="language-set">EN</a>
        </nav>
    </div>
</section>
