<section class="controlls">
    <div class="controlls-details">
        <h4 class="controlls-title">Способи комунікаціїї з СК «ТАС»</h4>
        <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
			 <p>Контактний телефон</p>
        </label>
			
    </div>
    <div class="controlls-details">
        <h4 class="controlls-title">Зв’язок із соціальними мережами</h4>
    </div>
    <div class="controlls-details">
        <h4 class="controlls-title">Мова</h4>
    </div>
</section>
