<header class="header clearfix">
<div class="header_search-and-logotype clearfix">
		<img src="../img/logo.png" class="header_logotype_img">
			<label class="header_search clearfix">
				@@include('../../images/icons/header/icon-search.svg')
				<input type="search" placeholder="Пошук" class="header_search_input">
			</label>
	</div>
	<section class="header_profile clearfix">
		<div class="header_profile_photo">
			@@include('../../images/icons/header/icon-guest.svg')
		</div>
		<div class="header_block-p clearfix">
			<p class="header_profile_hello">Вiтаемо, Оксано!</p>
			<a href="#" class="header_profile_go-out">Вийти з кабiнету</a>
			<div class="header_profile_notification">
				@@include('../../images/icons/header/icon-notification.svg')
			</div>	
		</div>
		
	</section>
</header>