
<div class="slider">
	<header class="toggle">
		<button class="left_arrow"><</button>
		<button class="right_arrow">></button>
	</header>
	<ul class="menu">
		<a href="#">
			<li class="menu__item">
				<div class="menu__item__image">
					<img src="../../img/requisites_change.jpg" alt="requisites_change">
					<div class="green_bg"></div>
				</div>
				<div class="menu__item__title"><h1>Зміна реквізитів для оплати рахунків</h1></div>
			</li>
		</a>
		<a href="#">	
			<li class="menu__item">
				<div class="menu__item__image">
					<img src="../../img/wwt.jpg" alt="world war two">
					<div class="green_bg"></div>
				</div>
				<div class="menu__item__title"><h1>Вітання із Днем Великої Перемоги!</h1></div>
			</li>
		</a>
		<a href="#">
			<li class="menu__item">
				<div class="menu__item__image">
					<img src="../../img/Insurance.jpg" alt="Insurance">
					<div class="green_bg"></div>
				</div>
				<div class="menu__item__title"><h1>Ми знову лідер на ринку страхування із заробленого інвестиційного доходу</h1></div>
			</li>
		</a>
		<a href="#">
			<li class="menu__item">
				<div class="menu__item__image">
					<img src="../../img/birthday.jpg" alt="birthday of company">
					<div class="green_bg"></div>
				</div>
				<div class="menu__item__title"><h1>День народження Страхової компанії Project VX</h1></div>
			</li>
		</a>
	</ul>
</div>