
<div class="news">
	<header class="news__toggle">
		<button class="left_arrow_main">
		@@include('../../images/icons/general/icon-arrow-left.svg')
		</button>
		<button class="right_arrow_main">@@include('../../images/icons/general/icon-arrow-right.svg')</button>
	</header>
	<ul class="news_menu">
		<a href="#">
			<li class="news_menu__item">
				<div class="news_menu__item__image">
					<img src="../../img/requisites_change.jpg" alt="requisites_change">
					<div class="green_bg"></div>
					<div class="news_menu__circle"><img src="../../images/icons/general/3-layers.png" alt=""></div>
				</div>
				<div class="news_menu__item__title"><h3 class="item__title--text">Зміна реквізитів для оплати рахунків</h3></div>
			</li>
		</a>
		<a href="#">	
			<li class="news_menu__item">
				<div class="news_menu__item__image">
					<img src="../../img/wwt.jpg" alt="world war two">
					<div class="green_bg"></div>
					<div class="news_menu__circle"><img src="../../images/icons/general/3-layers.png" alt=""></div>
				</div>
				<div class="news_menu__item__title"><h3 class="item__title--text">Вітання із Днем Великої Перемоги!</h3></div>
			</li>
		</a>
		<a href="#">
			<li class="news_menu__item">
				<div class="news_menu__item__image">
					<img src="../../img/Insurance.jpg" alt="Insurance">
					<div class="green_bg"></div>
					<div class="news_menu__circle"><img src="../../images/icons/general/3-layers.png" alt=""></div>
				</div>
				<div class="news_menu__item__title"><h3 class="item__title--text">Ми знову лідер на ринку страхування із заробленого інвестиційного доходу</h3></div>
			</li>
		</a>
		<a href="#">
			<li class="news_menu__item">
				<div class="news_menu__item__image">
					<img src="../../img/birthday.jpg" alt="birthday of company">
					<div class="green_bg"></div>
					<div class="news_menu__circle"><img src="../../images/icons/general/3-layers.png" alt=""></div>
				</div>
				<div class="news_menu__item__title"><h3 class="item__title--text">День народження Страхової компанії Project VX</h3></div>
			</li>
		</a>
	</ul>
</div>