.preview-list {
    a {
        position: relative;
        padding-top: 25%;
        margin-top: 30px;
        opacity: 0.7;
        overflow: hidden;
        color: rgba(#fff, 0.4);
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
        &:hover {
            color: darken(#fff, 6);
            opacity: 1;
            overflow: visible;
            z-index: 2;
        }
        &.is-active {
            color: #000;
        }
    }
    @media screen and (max-width: 950px) {
        margin-top: 31px;
    }
}